@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="../wwwroot/js/site.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    <button onclick="share()">Share whatwebcando.today<br>with <b>Web Share</b></button>
</p>

<p>
    <button onclick="intent()">Share whatwebcando.today<br>with <b>Web Intents</b></button>
</p>
